Repository craciunoiuc/kraftkit, changes with the labels that .github/labeler.yml gives for each.
All labels: area/.github, area/.github/workflows, area/environment, area/archive, area/buildenvs, area/cmd, area/cmdfactory, area/config, area/docs, area/exec, area/initrd, area/internal, area/internal/cli, area/internal/errs, area/internal/findsh, area/internal/ghrepo, area/internal/httpclient, area/internal/httpunix, area/internal/retrytimeout, area/internal/run, area/internal/set, area/internal/text, area/internal/update, area/internal/version, area/internal/waitgroup, area/iostreams, area/kconfig, area/log, area/machine, area/make, area/manifest, area/pack, area/plugins, area/schema, area/support, area/tui, area/utils, area/tools, area/tools/go-generate-qemu-devices, area/tools/protoc-gen-go-netconn, area/tools/webinstall, area/unikraft, area/unikraft/app, area/unikraft/arch, area/unikraft/component, area/unikraft/core, area/unikraft/lib, area/unikraft/plat, area/unikraft/target, area/unikraft/template

wip: feat: Introduce GitHub Action
  action.yml
  tools/github-action/build.go
  tools/github-action/execute.go
  tools/github-action/main.go
  tools/github-action/pack.go
  tools/github-action/pull.go
Labels: area/tools

fix(github-action): Import internal CLI package to tool
  tools/github-action/build.go
  tools/github-action/internal/cli/options.go
  tools/github-action/internal/cli/target.go
  tools/github-action/main.go
Labels: area/tools

feat(github-action): Init gomodule package
  tools/github-action/go.mod
  tools/github-action/go.sum
Labels: area/tools

feat(buildenvs): Add option to build/run images & register in Makefile
  Makefile
  buildenvs/Makefile
  buildenvs/github-action.Dockerfile
Labels: area/buildenvs

feat(buildenvs): Add dockerfile to build slim github action binary
  buildenvs/github-action.Dockerfile
Labels: area/buildenvs

feat(tools): Implement all steps for the GitHub action binary
  tools/github-action/build.go
  tools/github-action/execute.go
  tools/github-action/go.mod
  tools/github-action/go.sum
  tools/github-action/internal/cli/options.go
  tools/github-action/internal/cli/target.go
  tools/github-action/main.go
  tools/github-action/pack.go
  tools/github-action/push.go
Labels: area/tools

feat(github-action): Add extra checks and ensure runnable kernels
  tools/github-action/execute.go
  tools/github-action/go.mod
  tools/github-action/main.go
Labels: area/tools

feat(Makefile): Group tools
  Makefile
Labels: none

feat(workflows): Add workflow to build github-action container
  .github/workflows/github-action-build.yaml
Labels: area/.github, area/.github/workflows

feat(github-action): Clean up dead code
  tools/github-action/build.go
  tools/github-action/main.go
  tools/github-action/push.go
Labels: area/tools

feat(action): Format action parameters and how they are passed
  action.yml
Labels: none

feat(workflows): Add workflow to build golang-base
  .github/workflows/base-golang.yaml
Labels: area/.github, area/.github/workflows

feat(buildenvs): Add image to build kraftkit and unikernels
  buildenvs/devcontainer.Dockerfile
Labels: area/buildenvs

feat(devcontainer): Customise vscode experience and use bespoke container
  .devcontainer/devcontainer.json
Labels: none

feat(handler): Add not-working disclaimer for containerd
  oci/handler/containerd.go
Labels: none

feat(handler)!: Implement image index interface and adapt existing ones
  oci/handler/directory_image.go
Labels: none

feat(handler)!: Implement index structuring for the directory handler
  oci/handler/directory.go
Labels: none

feat(oci): Implement index listing
  oci/handler/containerd.go
  oci/handler/directory.go
  oci/handler/handler.go
Labels: none

feat(oci): Filter by platform and add index filtering
  oci/manager.go
Labels: none

feat(oci): Add method to package several targets in a single package
  oci/pack.go
Labels: none

feat(oci): Add image index structure to handle creating indexes
  oci/image_options.go
  oci/index.go
Labels: none

feat(oci): Implement OCI Index structure to wrap over OCI packages
  oci/pack.go
Labels: none

feat!: Update package managers to support packing multiple components
  manifest/manager.go
  oci/manager.go
  packmanager/manager.go
  packmanager/umbrella.go
Labels: area/manifest

feat(packmanager): Add options to specify package characteristics
  packmanager/query.go
Labels: none

feat(push): Add option to specify pushing multi-artifact packages
  cmd/kraft/pkg/push/push.go
Labels: area/cmd

feat(pkg): Package multiple artifacts of a project together
  cmd/kraft/pkg/pkg.go
Labels: area/cmd

feat(run): Specify platform when pulling packages
  cmd/kraft/run/runner_package.go
Labels: area/cmd

feat(pkg): Specify platform when pulling
  cmd/kraft/pkg/pull/pull.go
Labels: area/cmd

fix(oci): Trim OCI prefix when using output argument
  oci/pack.go
Labels: none

feat(github-action): Update commands to use new format
  tools/github-action/build.go
  tools/github-action/execute.go
  tools/github-action/go.mod
  tools/github-action/main.go
  tools/github-action/pack.go
  tools/github-action/pull.go
Labels: area/tools

fix(gendocs): Remove old link prefixes
  tools/gendocs/main.go
Labels: area/tools

feat(tools): Add alias page building
  tools/gendocs/main.go
Labels: area/tools

feat(tools): Add docs alias generation
  tools/gendocs/main.go
Labels: area/tools

wip
  api/machine/v1alpha1/machine.zip.go
  internal/cli/kraft/logs/logs.go
  machine/qemu/v1alpha1.go
Labels: area/internal, area/internal/cli, area/machine

fix(manifest): Check if provided URL is github.com in `NewGitHubProvider`
  manifest/github.go
Labels: area/manifest

fix(manifest): Better support for Git repositories with hash version
  manifest/directory.go
  manifest/git.go
  manifest/github.go
  manifest/index.go
  manifest/manager.go
  manifest/manifest.go
  manifest/pack.go
  manifest/pack_pull_archive.go
  manifest/pack_pull_git.go
  manifest/provider.go
Labels: area/manifest

fix(fs): Fail early on erofs->cpio conversion
  fs/cpio/create.go
Labels: none

fix(fs): Direct copy cpio files
  fs/cpio/create.go
Labels: none

feat(initrd): Expose and use 'file' FS type for direct copying
  initrd/directory.go
  initrd/dockerfile.go
  initrd/file.go
  initrd/ociimage.go
  initrd/options.go
  initrd/tarball.go
  initrd/utils.go
Labels: area/initrd

feat(fsutils): Add simple single-file check
  fsutils/fsutils.go
Labels: none

.github/labeler.yml:

# Area labels based on the path of the file
'area/.github':
- .github/*
- .github/**/*

'area/.github/workflows':
- .github/workflows/*


'area/environment':
- .gitignore
- .dockerignore
- .vscode
- .idea
- .editorconfig
- .gitmodules

'area/archive':
- archive/*
- archive/**/*

'area/buildenvs':
- buildenvs/*
- buildenvs/**/*

'area/cmd':
- cmd/*
- cmd/**/*

'area/cmdfactory':
- cmdfactory/*
- cmdfactory/**/*

'area/config':
- config/*
- config/**/*

'area/docs':
- docs/*
- docs/**/*

'area/exec':
- exec/*
- exec/**/*

'area/initrd':
- initrd/*
- initrd/**/*

'area/internal':
- internal/*
- internal/**/*

'area/internal/cli':
- internal/cli/*
- internal/cli/**/*

'area/internal/errs':
- internal/errs/*
- internal/errs/**/*

'area/internal/findsh':
- internal/findsh/*
- internal/findsh/**/*

'area/internal/ghrepo':
- internal/ghrepo/*
- internal/ghrepo/**/*

'area/internal/httpclient':
- internal/httpclient/*
- internal/httpclient/**/*

'area/internal/httpunix':
- internal/httpunix/*
- internal/httpunix/**/*

'area/internal/retrytimeout':
- internal/retrytimeout/*
- internal/retrytimeout/**/*

'area/internal/run':
- internal/run/*
- internal/run/**/*

'area/internal/set':
- internal/set/*
- internal/set/**/*

'area/internal/text':
- internal/text/*
- internal/text/**/*

'area/internal/update':
- internal/update/*
- internal/update/**/*

'area/internal/version':
- internal/version/*
- internal/version/**/*

'area/internal/waitgroup':
- internal/waitgroup/*
- internal/waitgroup/**/*

'area/iostreams':
- iostreams/*
- iostreams/**/*

'area/kconfig':
- kconfig/*
- kconfig/**/*

'area/log':
- log/*
- log/**/*

'area/machine':
- machine/*
- machine/**/*

'area/make':
- make/*
- make/**/*

'area/manifest':
- manifest/*
- manifest/**/*

'area/pack':
- pack/*
- pack/**/*

'area/plugins':
- plugins/*
- plugins/**/*

'area/schema':
- schema/*
- schema/**/*

'area/support':
- support/*
- support/**/*

'area/tui':
- tui/*
- tui/**/*

'area/utils':
- utils/*
- utils/**/*

'area/tools':
- tools/*
- tools/**/*

'area/tools/go-generate-qemu-devices':
- tools/go-generate-qemu-devices/*
- tools/go-generate-qemu-devices/**/*

'area/tools/protoc-gen-go-netconn':
- tools/protoc-gen-go-netconn/*
- tools/protoc-gen-go-netconn/**/*

'area/tools/webinstall':
- tools/webinstall/*
- tools/webinstall/**/*

'area/unikraft':
- unikraft/*
- unikraft/**/*

'area/unikraft/app':
- unikraft/app/*
- unikraft/app/**/*

'area/unikraft/arch':
- unikraft/arch/*
- unikraft/arch/**/*

'area/unikraft/component':
- unikraft/component/*
- unikraft/component/**/*

'area/unikraft/core':
- unikraft/core/*
- unikraft/core/**/*

'area/unikraft/lib':
- unikraft/lib/*
- unikraft/lib/**/*

'area/unikraft/plat':
- unikraft/plat/*
- unikraft/plat/**/*

'area/unikraft/target':
- unikraft/target/*
- unikraft/target/**/*

'area/unikraft/template':
- unikraft/template/*
- unikraft/template/**/*
